{% block quilljs_widget %}
  <textarea style="display: none" {{ block('widget_attributes') }}>{{ value | raw }}</textarea>

  <div class="editor-container">
    <div id="{{ id }}-editor">{{ value | raw }}</div>
  </div>

  {{ block('q_js') }}
{% endblock %}

{% block q_js %}

  {% if quill.upload_route | default(false) %}
    {% if 'http' in quill.upload_route %}
      {% set upload_route = quill.upload_route %}
    {% else %}
      {% set upload_route = url(quill.upload_route, quill.upload_route_parameters) %}
    {% endif %}
  {% else %}
    {% set upload_route = false %}
  {% endif %}

  {% if quill.quill_js_source %}
    <script src="{{ asset(quill.quill_js_source) }}"></script>
  {% endif %}
  {% if quill.quill_css_source %}
    <link rel="stylesheet" href="{{ asset(quill.quill_css_source) }}">
  {% endif %}

  <script>
    const quillUploadUrl = '{{ upload_route }}' || null

    const quill = new Quill('#{{ id }}-editor', {
      theme: '{{ quill.theme | default('snow') }}',
      uploadUrl: quillUploadUrl,
      uploadAsync: {{ quill.upload_async | json_encode }},
      modules: {
        toolbar: {
          container: {{ quill.toolbar_options | json_encode | raw }},
        },
        history: true,
      }
    });

    quill.on('text-change', () => {
      document.getElementById('{{ id }}').innerHTML = quill.root.innerHTML;
    })
  </script>
{% endblock %}
